<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../styles/output.css" rel="stylesheet"/>
    <script src="../../node_modules/jquery/dist/jquery.min.js"></script>
</head>
<body>
<div class="flex">
    <nav class="h-screen w-44 px-2 bg-white transition-all duration-300 hidden">
        <h1 class="text-gray-400 font-bold mt-14 ml-2">Home</h1>
        <button class="bg-violet-100 py-2 px-2 rounded-lg flex w-full items-center my-2 hover:bg-violet-100">
            <img src="../images/icons8-business-32 (1).png" alt="Projects" class="h-5 w-5"/>
            <span class="text-gray-800 ml-4 font-bold text-sm hover:text-gray-800">Projects</span>
        </button>
        <button class="py-2 px-2 rounded-lg flex w-full items-center my-2 hover:bg-violet-100">
            <img src="../images/icons8-task-48.png" alt="Tasks" class="h-5 w-5"/>
            <span class="text-gray-400 ml-4 font-bold text-sm hover:text-gray-800">My Tasks</span>
        </button>
        <button class="py-2 px-2 rounded-lg flex w-full items-center my-2 hover:bg-violet-100">
            <img src="../images/icons8-user-account-50.png" alt="Team" class="h-5 w-5"/>
            <span class="text-gray-400 ml-4 font-bold text-sm hover:text-gray-800">Team</span>
        </button>
        <button class="py-2 px-2 rounded-lg flex w-full items-center my-2 hover:bg-violet-100">
            <img src="../images/icons8-documents-67.png" alt="File" class="h-8 w-8"/>
            <span class="text-gray-400 ml-4 font-bold text-sm hover:text-gray-800">File</span>
        </button>
        <button class="py-2 px-2 rounded-lg flex w-full items-center my-2 hover:bg-violet-100">
            <img src="../images/icons8-baby-calendar-32.png" alt="Calendar" class="h-5 w-5"/>
            <span class="text-gray-400 ml-4 font-bold text-sm hover:text-gray-800">Calendar</span>
        </button>
        <h1 class="text-gray-400 font-bold mt-12 ml-2">Insights</h1>
        <button class="py-2 px-2 rounded-lg flex w-full items-center my-2 hover:bg-violet-100">
            <img src="../images/icons8-message-64.png" alt="Inbox" class="h-5 w-5"/>
            <span class="text-gray-400 ml-4 font-bold text-sm hover:text-gray-800">Inbox</span>
        </button>
        <div class="flex items-end h-2/6">
            <button class="py-2 px-2 rounded-lg flex w-full items-center my-2 hover:bg-violet-100 self-end">
                <img src="" id="profile-pic" alt="Inbox" class="h-8 w-8 rounded-full"/>
                <span class="ml-2 font-bold text-md hover:text-gray-800">Profile</span>
            </button>
        </div>
    </nav>
    <div class="flex-grow">
        <header class="flex py-2 flex-row justify-between items-center">

            <div class="flex basis-1/4">
                <button id="sideBarToggle" class="px-2 py-2 text-gray-200 hover:bg-gray-200 focus:outline-none rounded-md mr-1.5 ml-2">
                    <img src="../images/icons8-menu.svg" alt="Menu" class="h-4 w-4"/>
                </button>
                <h1 class="py-2 font-bold">My Projects</h1>
            </div>
            
            <div class="flex basis-1/2">
                <input type="text" placeholder="Search Project, Task etc..."
                class="rounded-s-full py-2 px-4 pr-12 shadow-md focus:outline-none flex-grow text-xs" id="search-bar"/>
                <button type="submit"
                class="text-white rounded-r-full shadow-md focus:outline-none focus:ring-2 px-4 py-2" id="search-submit">
                <img src="../images/icons8-search.svg" alt="Search" class="h-6 w-6"/>
                </button>

                <button class="bg-neutral-700 py-2 px-2 rounded-lg ml-1.5">
                    <img src="../images/icons8-slider-32.png" alt="Filer" class="h-5 w-5"/>
                </button>
            </div>
            
            <button class="bg-blue-50 py-3 px-4 rounded-lg mr-1" id="add-data">
                <img src="../images/icons8-add-button-50.png" alt="Filer" class="h-6 w-6"/>
            </button>
        </header>
        <div class="flex flex-row bg-white">
            <div class="h-screen bg-white basis-9/12 px-4">
                <div class="flex justify-between w-full">
                    <div class="flex items-center">
                        <button class="bg-violet-50 py-2 px-2 rounded-lg flex w-28 justify-center items-center my-2 border-2 border-neutral-500">
                            <img src="../images/icons8-list-64.png" alt="list" class="h-6 w-6"/>
                            <span class="text-sm ml-2">List</span>
                        </button>
                        <button class="py-2 px-2 rounded-lg flex w-28 justify-center items-center my-2 border-2 ml-4 hover:bg-violet-50 hover:border-neutral-500">
                            <img src="../images/menu.png" alt="board" class="h-4 w-4"/>
                            <span class="text-gray-400 text-sm ml-2">Board</span>
                        </button>
                    </div>
                    <div class="flex items-center">
                        <p class="text-gray-400 text-sm">Show</p>
                        <select class="hover:border-neutral-500 w-20 text-gray-400 text-xs py-1 rounded-md ml-4 text-center border-2">
                            <option>All</option>
                        </select>
                    </div>
                </div>
                <div id="hold-table">
                    <span id="result-length" class="text-gray-400 text-xs"></span>
                    <table class="table-auto w-full border-separate border-spacing-y-6">
                        <thead>
                            <tr class="shadow-md rounded-md items-center h-10">
                                <th></th>
                                <th><div class="text-gray-400 text-xs flex justify-start items-center">Task Name</div></th>
                                <th><div class="text-gray-400 text-xs flex justify-start items-center">Due in</div></th>
                                <th><div class="text-gray-400 text-xs flex justify-start items-center">Tasks</div></th>
                                <th><div class="text-gray-400 text-xs flex justify-start items-center">Status</div></th>
                                <th><div class="text-gray-400 text-xs flex justify-start items-center">Members</div></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="project-view">

                        </tbody>
                    </table>
                </div>
                <div class="hidden overlay-div">
                    <div class="centered-div items-center">
                        <div class="flex justify-end w-full">
                            <button class="flex" id="close">
                                <img src="../images/icons8-close-24.png" class="h-4 w-4"/>
                            </button>
                        </div>
                        <div class="flex my-4 w-full items-center justify-center" id="new-model-buttons">
                            <button class="flex mx-4 bg-indigo-500 my-4 w-24 rounded-2xl py-2 hover:bg-indigo-400 justify-center items-center" id="close-task">
                                <span class="text-white text-sm ml-2">New Task</span>
                            </button>
                            <button class="flex mx-4 bg-indigo-500 my-4 w-24 rounded-2xl py-2 hover:bg-indigo-400 justify-center items-center" id="close-project">
                                <span class="text-white text-sm ml-2">New Project</span>
                            </button>
                        </div>

                        <div class="flex my-4 w-full items-center justify-center hidden" id="new-project-form">
                            <form enctype="multipart/form-data" class="bg-white rounded-3xl mt-2 pb-1 px-4 py-4 shadow-md mr-4" id="project-add">
                                <ul id="errors1" class="mb-2"></ul>
                                <input type="text" name="name" placeholder="Project Name" required class="block py-1 px-2 mb-2 pr-12 focus:outline-none focus:bg-blue-50 flex-grow border-2 rounded-lg w-full"/>
                                <input type="date" name="due_date" placeholder="Due Date" required class="block py-1 px-2 mb-2 pr-12 focus:outline-none focus:bg-blue-50 flex-grow border-2 rounded-lg w-full"/>
                                <input type="time" name="due_time" placeholder="Deadline Time" required class="block py-1 px-2 mb-2 pr-12 focus:outline-none focus:bg-blue-50 flex-grow border-2 rounded-lg w-full"/>
                                <input type="file" name="image" placeholder="Add Image" required class="block py-1 px-2 mb-2 pr-12 focus:outline-none focus:bg-blue-50 flex-grow border-2 rounded-lg w-full"/>
                                <select class="hover:border-neutral-500 text-gray-400 text-xs py-1 rounded-md ml-4 text-center border-2" id="pick-a-team" required name="team">
                                    <option disabled selected>Please select Team to handle Project</option>
                                </select>
                                <button class="bg-indigo-500 my-4 rounded-2xl w-full py-2 hover:bg-indigo-400" id="submit-btn1">
                                    <span class="text-center text-xs text-white">Continue</span>
                                </button>
                                <div class="bg-indigo-500 my-4 rounded-2xl w-full py-2 flex justify-center items-center hidden" id="submit-loader1">
                                    <div class="rounded-full items-center loader mr-2"></div>
                                    <span class="text-center text-xs text-white ml-2">Processing</span>
                                </div>
                            </form>
                        </div>
                        <div class="flex my-4 w-full items-center justify-center hidden" id="new-task-form">
                            <form class="bg-white rounded-3xl mt-2 pb-1 px-4 py-4 shadow-md mr-4" id="task-add">
                                <ul id="errors2" class="mb-2"></ul>
                                <input type="text" name="name" placeholder="Task Name" required class="block py-1 px-2 mb-2 pr-12 focus:outline-none focus:bg-blue-50 flex-grow border-2 rounded-lg w-full"/>
                                <select class="hover:border-neutral-500 text-gray-400 text-xs py-1 rounded-md ml-4 text-center border-2" id="pick-a-project" required name="project">
                                    <option disabled selected>Please select the Project this task belongs to</option>
                                </select>
                                <button class="bg-indigo-500 my-4 rounded-2xl w-full py-2 hover:bg-indigo-400" id="submit-btn2">
                                    <span class="text-center text-xs text-white">Continue</span>
                                </button>
                                <div class="bg-indigo-500 my-4 rounded-2xl w-full py-2 flex justify-center items-center hidden" id="submit-loader2">
                                    <div class="rounded-full items-center loader mr-2"></div>
                                    <span class="text-center text-xs text-white ml-2">Processing</span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="h-screen bg-white basis-3/12 px-4 pt-6">
                <div class="flex justify-between w-full">
                    <h2 class="font-bold">Upcoming meeting</h2>
                    <a class="text-violet-400 hover:text-violet-200 text-sm">See all</a>
                </div>
                <div class="bg-green-100 rounded-3xl mt-2 pb-1">
                    <h3 class="font-bold pt-4 mx-4">Meeting Name</h3>
                    <div class="px-4">
                        <span class="text-gray-400 text-xs font-bold">
                            The meeting aims to identify areas for improvement and ensure the design aligns with business needs and user goals
                        </span>
                    </div>
                    
                    <div class="bg-white mx-1 px-4 py-2 rounded-2xl">
                        <div class="flex justify-between">
                            <div>
                                <p class="text-gray-400 text-xs font-bold">Time</p>
                                <span class="font-bold text-sm">12:00-12:30</span>
                            </div>
                            <div>
                                <p class="text-gray-400 text-xs font-bold">Duration</p>
                                <span class="font-bold text-sm">30 min</span>
                            </div>
                        </div>
                        <div class="w-full">
                            <p class="text-gray-400 text-xs font-bold mt-4 mb-1">Invited member</p>
                            <img src="../images/people.png" alt="people" class="h-10 w-1/2"/>
                        </div>
                        <div class="w-full px-4 items-center">
                            <button class="bg-indigo-500 my-4 rounded-2xl w-full py-2 hover:bg-indigo-400">
                                <span class="text-center text-xs text-white">Join Meeting</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="flex justify-between w-full mt-4">
                    <h2 class="font-bold">Upcoming Task</h2>
                </div>
                <div class="bg-white mx-1 px-4 py-2 rounded-md my-4 shadow-md">
                    <div class="flex justify-between">
                        <span class="text-gray-600 font-bold text-sm">Product Planning</span>
                        <div>
                            <span class="bg-yellow-100 rounded-3xl text-yellow-400 text-xs px-2">Urgent</span>
                            <button>
                                <img src="../images/icons8-three-dots-30.png" alt="edit" class="h-4 w-4"/>
                            </button>
                        </div>
                    </div>
                    <img src="../images/team2.png" alt="team" class="h10 w-16"/>
                    <div class="flex mt-2 items-center">
                        <progress value="30" max="100"></progress>
                        <img src="../images/icons8-clock-24 (1).png" alt="clock" class="h-3 w-3 ml-2"/>
                        <span class="text-gray-400 font-bold text-2xs ml-1">10:00-11:00</span>
                    </div>
                    <p class="text-gray-400 text-2xs ml-1 my-2">Management</p>
                </div>
                <div class="bg-white mx-1 px-4 py-2 mb-2 rounded-md my-4 shadow-md">
                    <div class="flex justify-between">
                        <span class="text-gray-600 font-bold text-sm">Product Planning</span>
                        <div>
                            <span class="bg-yellow-100 rounded-3xl text-yellow-400 text-xs px-2">Urgent</span>
                            <button>
                                <img src="../images/icons8-three-dots-30.png" alt="edit" class="h-4 w-4"/>
                            </button>
                        </div>
                    </div>
                    <img src="../images/team2.png" alt="team" class="h10 w-16"/>
                    <div class="flex mt-2 items-center">
                        <progress value="30" max="100"></progress>
                        <img src="../images/icons8-clock-24 (1).png" alt="clock" class="h-3 w-3 ml-2"/>
                        <span class="text-gray-400 font-bold text-2xs ml-1">10:00-11:00</span>
                    </div>
                    <p class="text-gray-400 text-2xs ml-1 my-2">Management</p>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../scripts/main.js" type="text/javascript"></script>
</body>
</html>