<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../styles/output.css" rel="stylesheet"/>
    <script src="../../node_modules/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <div>
        <header class="flex h-10 shadow-md justify-between items-center px-4">
            <h1 class="font-bold">Project Manager</h1>
            <a href="../../index.html">Sign Up</a>
        </header>
        <div class="bg-violet-100 flex h-screen items-center justify-between">
            <h1 class="ml-5 text-lg font-bold">Manage Projects</h1>
            <form enctype="multipart/form-data" class="bg-white rounded-3xl mt-2 pb-1 px-4 py-4 shadow-md mr-4" id="login">
                <ul id="errors" class="mb-2"></ul>
                <label for="username" class="">Username</label>
                <input class="block py-1 px-2 mb-2 pr-12 focus:outline-none focus:bg-blue-50 flex-grow border-2 rounded-lg w-full" type="text" name="username" id="username" placeholder="Enter Username or Email"/>
                <label class="" for="password">Password</label>
                <input class="block py-1 px-2 mb-2 pr-12 focus:outline-none focus:bg-blue-50 flex-grow border-2 rounded-lg w-full" type="password" name="password" id="password" placeholder="Enter Password"/>
                <button class="bg-indigo-500 my-4 rounded-2xl w-full py-2 hover:bg-indigo-400" id="login-btn">
                    <span class="text-center text-xs text-white">Sign In</span>
                </button>
                <div class="bg-indigo-500 my-4 rounded-2xl w-full py-2 flex justify-center items-center hidden" id="login-loader">
                    <div class="rounded-full items-center loader mr-2"></div>
                    <span class="text-center text-xs text-white ml-2">Processing</span>
                </div>
            </form>
        </div>
    </div>
    <script src="../scripts/login.js" type="text/javascript"></script>
</body>
</html>